In [ ]:
import pandas as pd
import numpy as np

In [ ]:
aqi_data=pd.read_csv("aqi_daily_1980_to_2021.csv")
aqi_data.head()

In [3]:
aqi_data.drop(['Latitude', 'Longitude'], axis=1)

         State Name        Date  AQI Category Defining Parameter County Name
0           Alabama  2021-01-01   30     Good              Ozone      DeKalb
1           Alabama  2021-01-02   27     Good              Ozone      DeKalb
2           Alabama  2021-01-03   34     Good              Ozone      DeKalb
3           Alabama  2021-01-04   36     Good              Ozone      DeKalb
4           Alabama  2021-01-05   31     Good              Ozone      DeKalb
...             ...         ...  ...      ...                ...         ...
10158522    Wyoming  2020-12-27   32     Good              Ozone      Weston
10158523    Wyoming  2020-12-28   30     Good              Ozone      Weston
10158524    Wyoming  2020-12-29   33     Good              Ozone      Weston
10158525    Wyoming  2020-12-30   33     Good              Ozone      Weston
10158526    Wyoming  2020-12-31   34     Good              Ozone      Weston

[10158527 rows x 6 columns]

In [4]:
aqi_data.loc[(aqi_data.index < 1980) | (aqi_data.index > 2016)]

,State Name,Date,AQI,Category,Defining Parameter,Latitude,Longitude,County Name
0,Alabama,2021-01-01,30,Good,Ozone,34.289001,-85.970065,DeKalb
1,Alabama,2021-01-02,27,Good,Ozone,34.289001,-85.970065,DeKalb
2,Alabama,2021-01-03,34,Good,Ozone,34.289001,-85.970065,DeKalb
3,Alabama,2021-01-04,36,Good,Ozone,34.289001,-85.970065,DeKalb
4,Alabama,2021-01-05,31,Good,Ozone,34.289001,-85.970065,DeKalb
...,...,...,...,...,...,...,...,...
10158522,Wyoming,2020-12-27,32,Good,Ozone,43.845390,-104.205120,Weston
10158523,Wyoming,2020-12-28,30,Good,Ozone,43.845390,-104.205120,Weston
10158524,Wyoming,2020-12-29,33,Good,Ozone,43.845390,-104.205120,Weston
10158525,Wyoming,2020-12-30,33,Good,Ozone,43.845390,-104.205120,Weston
10158526,Wyoming,2020-12-31,34,Good,Ozone,43.845390,-104.205120,Weston

In [5]:
aqi_data.drop(['Latitude', 'Longitude','County Name','Defining Parameter'], axis=1)

         State Name        Date  AQI Category
0           Alabama  2021-01-01   30     Good
1           Alabama  2021-01-02   27     Good
2           Alabama  2021-01-03   34     Good
3           Alabama  2021-01-04   36     Good
4           Alabama  2021-01-05   31     Good
...             ...         ...  ...      ...
10158522    Wyoming  2020-12-27   32     Good
10158523    Wyoming  2020-12-28   30     Good
10158524    Wyoming  2020-12-29   33     Good
10158525    Wyoming  2020-12-30   33     Good
10158526    Wyoming  2020-12-31   34     Good

[10158527 rows x 4 columns]

In [10]:
aqi_data.to_csv('out.csv')