In [1]:
import pandas as pd
import numpy as np

In [2]:
pollution_file = 'us_pollution.csv'
pollution_data = pd.read_csv(pollution_file, low_memory = False)

In [3]:
us_pollution_df = pd.DataFrame(pollution_data)

In [4]:
us_pollution_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [5]:
us_pollution_df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [6]:
us_pollution_df = us_pollution_df[['State', 'County', 'City', 'Date Local', 
                                  'NO2 Mean','NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI',
                                  'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 
                                  'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
                                  'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI']]
us_pollution_df.head()

,State,County,City,Date Local,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,1.145833,4.2,21,NaN
1,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0
2,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,1.145833,4.2,21,NaN
3,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,0.878947,2.2,23,25.0
4,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,10,27,1.958333,3.0,22,4.0,0.850000,1.6,23,NaN

In [7]:
def change_column_name(old_name, new_name):
    if old_name in us_pollution_df:
        us_pollution_df[new_name] = us_pollution_df.pop(old_name)
change_column_name('State', 'usstate')
change_column_name('County', 'county')
change_column_name('City', 'city')
change_column_name('Date Local', 'local_date')

change_column_name('NO2 Mean', 'no2avg')
change_column_name('NO2 1st Max Value', 'no2maxvalue')
change_column_name('NO2 1st Max Hour', 'no2maxhour')
change_column_name('NO2 AQI', 'no2aqi')

change_column_name('O3 Mean', 'o3avg')
change_column_name('O3 1st Max Value', 'o3maxvalue')
change_column_name('O3 1st Max Hour', 'o3maxhour')
change_column_name('O3 AQI', 'o3aqi')

change_column_name('SO2 Mean', 'so2avg')
change_column_name('SO2 1st Max Value', 'so2maxvalue')
change_column_name('SO2 1st Max Hour', 'so2maxhour')
change_column_name('SO2 AQI', 'so2aqi')

change_column_name('CO Mean', 'coavg')
change_column_name('CO 1st Max Value', 'comaxvalue')
change_column_name('CO 1st Max Hour', 'comaxhour')
change_column_name('CO AQI', 'coaqi')
us_pollution_df.head()

,usstate,county,city,local_date,no2avg,no2maxvalue,no2maxhour,no2aqi,o3avg,o3maxvalue,o3maxhour,o3aqi,so2avg,so2maxvalue,so2maxhour,so2aqi,coavg,comaxvalue,comaxhour,coaqi
0,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,1.145833,4.2,21,NaN
1,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0
2,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,1.145833,4.2,21,NaN
3,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,0.878947,2.2,23,25.0
4,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,10,27,1.958333,3.0,22,4.0,0.850000,1.6,23,NaN

In [8]:
us_pollution_df = us_pollution_df[us_pollution_df['coaqi'].notna()]
us_pollution_df = us_pollution_df[us_pollution_df['so2aqi'].notna()]
us_pollution_df['local_date'] = pd.to_datetime(us_pollution_df['local_date'])
us_pollution_df.head()

,usstate,county,city,local_date,no2avg,no2maxvalue,no2maxhour,no2aqi,o3avg,o3maxvalue,o3maxhour,o3aqi,so2avg,so2maxvalue,so2maxhour,so2aqi,coavg,comaxvalue,comaxhour,coaqi
1,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0
5,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,10,27,1.958333,3.0,22,4.0,1.066667,2.3,0,26.0
9,Arizona,Maricopa,Phoenix,2000-01-03,38.125000,51.0,8,48,0.007958,0.016,9,14,5.250000,11.0,19,16.0,1.762500,2.5,8,28.0
13,Arizona,Maricopa,Phoenix,2000-01-04,40.260870,74.0,8,72,0.014167,0.033,9,28,7.083333,16.0,8,23.0,1.829167,3.0,23,34.0
17,Arizona,Maricopa,Phoenix,2000-01-05,48.450000,61.0,22,58,0.006667,0.012,9,10,8.708333,15.0,7,21.0,2.700000,3.7,2,42.0

In [11]:
us_pollution_df.to_csv('us_pollution_2000_2016.csv', index=False)

In [12]:
aqi2022_file = 'annual_aqi_by_cbsa_2022.csv'
aqi2022_data = pd.read_csv(aqi2022_file, low_memory = False)
combined_df = pd.DataFrame(aqi2022_data)

In [15]:
def combine(file, df):
    data = pd.read_csv(file, low_memory = False)
    new_df = pd.DataFrame(data)
    df = pd.concat([new_df, df], axis=0)
    return df

In [16]:
for year in range(22):
    if year < 10:
        file = f'annual_aqi_by_cbsa_200{year}.csv'
        combined_df = combine(file,combined_df)
    else:
        file = f'annual_aqi_by_cbsa_20{year}.csv'
        combined_df = combine(file,combined_df)

In [18]:
combined_df.columns

Index(['CBSA', 'CBSA Code', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [6]:
census_data_2000_file = 'census_data_2000s.csv'
census_data_2000 = pd.read_csv(census_data_2000_file, low_memory = False)
census_data_2010_file = 'census_data_2010s.csv'
census_data_2010 = pd.read_csv(census_data_2010_file, low_memory = False)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 234993: invalid continuation byte